header {
    display: flex;
    justify-content: space-between;
    background-color: #7c5e99;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
    align-items: center;
}

nav {
    text-align: right;
}

a {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Fira Code', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    display: inline-flex;
    align-items: center;
}

a::before {
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    content: '';
}

.button {
    display: inline-block;
    background-color: #F25A70;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 black;
    margin-right: 0;
}
.button:hover{
    background-color: #ac91c5;
}

.banner {
    background: url(/assets/img/photo.png) no-repeat;
    background-size: cover;
    height: 797px;
    position: relative;
}
.banner div {
    position: absolute;
    background: #3A4042;
    width: 627px;
    height: 184px;
    top: 196px;
    left: 91px;
    box-shadow: 5px 5px 0 black;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
}

.banner div h1 {
    color: #F25A70;
    font-size: 40px;
    font-weight: 400;
    text-shadow: 4px 4px 0 black;
    line-height: 40px;
   
}
.banner div h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 4px 4px 0 black;
    line-height: 30px;
   
}

.banner nav {
    position: absolute;
    text-align: justify;
    top: 418px;
    left: 181px;
}
.banner nav .button {
    margin-right: 112px;
}
